2026-08-09T00:13:46.395+03:00  INFO 831160 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:13:46.446+03:00  WARN 831160 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:14:20.993+03:00  INFO 831759 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:14:21.052+03:00  WARN 831759 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:15:16.602+03:00  INFO 832611 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:15:16.673+03:00  WARN 832611 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:16:23.087+03:00  INFO 833785 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:16:23.146+03:00  WARN 833785 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:21:36.904+03:00  INFO 838128 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:21:36.947+03:00  WARN 838128 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:22:02.173+03:00  INFO 838655 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:22:02.222+03:00  WARN 838655 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:24:00.199+03:00  INFO 840353 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:24:00.261+03:00  WARN 840353 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:24:36.260+03:00  INFO 841035 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:24:36.300+03:00  WARN 841035 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:24:48.215+03:00  INFO 841461 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:24:48.261+03:00  WARN 841461 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:27:21.673+03:00  INFO 843670 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:27:21.721+03:00  WARN 843670 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:28:56.914+03:00  INFO 845132 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:28:56.973+03:00  WARN 845132 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:29:27.544+03:00  INFO 845683 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:29:27.587+03:00  WARN 845683 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:30:32.004+03:00  INFO 846631 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:30:32.053+03:00  WARN 846631 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:31:13.467+03:00  INFO 847386 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:31:13.508+03:00  WARN 847386 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-08-09T00:31:23.683+03:00  INFO 847717 --- [Test worker] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-08-09T00:31:23.721+03:00  WARN 847717 --- [Test worker] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
