<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Form save</title>

</head>

<body>
	<div>
		<form method="post" action="/save">
			<h2>Save user</h2>
			<p>
				<label for="name">Name</label> <input type="text" id="name"
					name="name" placeholder="Name" required autofocus>
			</p>
			<p>
				<label for="email">Email</label> <input type="text" id="email"
					name="email" placeholder="Email" required>
			</p>
			<button type="submit">Save</button>
		</form>
	</div>
</body>

</html>