<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <title>Login</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 p-5">
                <img src="/img/shopping-cart-4.jpg" class="d-block w-100" alt="..."
                     height="1080">
            </div>
            <div class="col-md-6 p-5">
                <div class="card">
                    <div class="card-header"><p class="fs-4 text-center">Forgot Password</p></div>
                    <th:block th:if="${session.success}">
                        <p class="text-success fw-bold text-center">[[${session.success}]]</p>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>
                    <th:block th:if="${session.error}">
                        <p class="text-danger fw-bold text-center">[[${session.error}]]</p>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>
                    <div class="card-body">
                        <form action="/shopping-cart/forgot-password" method="post">
                            <div class="mb-3"><label class="form-label">Email
                                <input class="form-control" type="email" name="email" placeholder="Enter your email"/>
                            </label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn bg-black text-white">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>