<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <title>Login</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 p-5 text-center offset-md-3">
                <th:block th:if="${success}">
                    <p class="text-success fw-bold text-center">[[${success}]]</p>
                </th:block>
                <th:block th:if="${error}">
                    <p class="text-danger fw-bold text-center">[[${error}]]</p>
                </th:block>
            </div>
        </div>
    </div>
</section>

</body>
</html>