2026-07-31T00:22:33.180+03:00  INFO 881028 --- [main] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-07-31T00:22:33.203+03:00  INFO 881028 --- [main] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-07-31T00:22:33.229+03:00  WARN 881028 --- [main] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-07-31T00:24:07.160+03:00  INFO 882921 --- [main] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-07-31T00:24:07.187+03:00  INFO 882921 --- [main] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-07-31T00:24:07.226+03:00  WARN 882921 --- [main] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2026-07-31T00:24:49.686+03:00  INFO 883682 --- [main] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-07-31T00:24:49.709+03:00  INFO 883682 --- [main] c.e.spring.repository.ConnectionPool     : init ConnectionPool
2026-07-31T00:24:49.739+03:00  WARN 883682 --- [main] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
