<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
Cart
<!--<div>Total price  $<span th:text="${cart.quantity} * ${cart.price}"> </span><a href="#"> Check Out</a></div>-->
<div>Total price $<span th:text="${total}"> </span><a href="#"> Check Out</a></div>
<table>
    <thead>
    <tr>
        <th> Name</th>
        <th> Category</th>
        <th> Price</th>
        <th> Buy now</th>
        <th> Cancel</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="cart : ${carts}">

        <td><span th:text="${cart.name}"> Name </span></td>
        <td><span th:text="${cart.category}"> Category </span></td>
        <td>$<span th:text="${cart.price}"> Price </span></td>
        <td>
            <form th:action="@{'/cart/' + ${cart.id}}" method="post">
                quantity: <input type="text" size="5" th:value="${cart.quantity}" name="quantity"/>
                <input type="submit" value="buy">
            </form>
        </td>
        <td>
            <form th:action="@{'/cart/' + ${cart.id}}" method="post">
                <input type="text" name="quantity" value="0" hidden="hidden"/>
                <input type="submit" value="cancel">
            </form>
        </td>
        <!--        <td><a th:href="@{/cart}"></a></td>-->
        <!--        <td><a th:href="@{/order}">buy page</a></td>-->
    </tr>
    </tbody>
</table>
<a th:href="@{/}">go back</a>
</body>
</html>